<h2 class="uk-margin-left uk-margin-top">Welcome Biscayne Families!</h2>
<div class="uk-section uk-section-muted">
  <div class="uk-container">
    <div class="uk-grid-match uk-child-width-1-2@m uk-grid-divider" uk-grid>
      <div>
        <h3>GIVE US FEEDBACK!</h3>
        <p>This year our number one goal is to increase family engagement and grow our wonderful Biscayne Elementary Community. Take our Survey and let us know what you want to see more of!</p>
        <div>
          <a href="https://www.surveymonkey.com/r/26D2KFC" class="uk-button uk-button-primary" target="_blank">Take Our Survey</a>
        </div>
      </div>

      <div class="uk-child-width-1-2@m" uk-grid>
        <h3>GET INVOLVED!</h3>
        <p>We're always looking for more people to help out! Fill out our Volunteer Interest form and let us know your availability, interests, and ways to contact you!</p>
        <div>
          <a href="https://www.surveymonkey.com/r/PNWYZJL" class="uk-button uk-button-primary" target="_blank">Volunteer Interest Form</a>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="uk-section uk-section-primary" id="mc_embed_signup">
  <div class="uk-container">
  <h3 class="uk-card-title">SIGN UP FOR OUR NEW NEWSLETTER</h3>
  <p>We want our families to feel involved and informed! Please sign up here for email updates about PTA events, school reminders, and our NEW newsletter!</p>
  <form action="https://biscaynees.us18.list-manage.com/subscribe/post?u=100d1bafe3a4c051f70ce044a&amp;id=4b41628138" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate uk-grid-small" target="_blank" uk-grid novalidate>
    <div class="uk-width-1-1">
      <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span></label>
      <input type="email" value="" name="EMAIL" class="required email uk-input" id="mce-EMAIL">
    </div>
    <div class="uk-width-1-2@s">
      <label for="mce-FNAME">First Name <span class="asterisk">*</span></label>
      <input type="text" value="" name="FNAME" class="required uk-input" id="mce-FNAME">
    </div>
    <div class="uk-width-1-2@s">
      <label for="mce-LNAME">Last Name <span class="asterisk">*</span></label>
      <input type="text" value="" name="LNAME" class="required uk-input" id="mce-LNAME">
    </div>
    <div class="uk-width-1-2@s">
      <label for="mce-PHONE">Phone </label>
      <input type="text" value="" name="PHONE" class="uk-input" id="mce-PHONE">
    </div>
    <div class="uk-width-1-2@s">
      <label for="mce-MMERGE6">Your Children's Grades- Separated by comma (ex: HS, PK, K, 1, 2, 3, 4, 5)</label>
      <input type="text" value="" name="MMERGE6" class="uk-input" id="mce-MMERGE6">
    </div>
    <div id="mce-responses" class="clear">
      <div class="response" id="mce-error-response" style="display:none"></div>
      <div class="response" id="mce-success-response" style="display:none"></div>
    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_100d1bafe3a4c051f70ce044a_4b41628138" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="uk-button uk-button-default uk-margin-top"></div>
  </form>
  </div>
</div>
